@import url('https://fonts.googleapis.com/css?family=Mukta|Poppins|Source+Sans+Pro&display=swap');

body{
    font-family: 'Mukta', sans-serif !important;    
    height: 100% !important;
}
.fa .fa-language{
    font-size: 1.5em !important;
}
#social-media-container .fa{
  
  font-size: 1.8em;
  width: 1.8em;
  height: 50px;
  padding: 2%;
  text-decoration: none;
  color: white;
      
    
}
#social-media-container .fa-instagram:hover{
    color: #e4405f;
}
#social-media-container .fa-facebook:hover{
    color: #3b5999;
}
#social-media-container .fa-twitter:hover{
    color: #55acee;
}
#social-media-container .fa-github:hover{
    color: #131418;
}
#social-media-container{
    height: 18vh !important;
}
footer div{
    opacity: .6 !important;

}
footer div:hover{
    opacity: 1 !important;
}
/*
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Mukta', sans-serif;

*/