<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>{{keyword}}</title>
    

    <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
        <a class="navbar-brand text-white" href="#">NEWS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fa fa-bars text-white"></i></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-language text-white"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'hindi_news' %}">हिन्दी (भारत)</a>
                <a class="dropdown-item" href="{% url 'english_news' %}">English(IN)</a>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" id="toggle">Follow</a>
            </li> 
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST">
              {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" id="search_word" name = "search_word" placeholder="Search" aria-label="Search" required autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>



</head>
 
<body >

  {% for news in news_list %} 
    <div class="container">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{news.title}}</h4>
              <p class="card-text">{{news.date}}</p>
              <a href="{{news.links}}" class="card-link" target="_blank" rel="noopener">Read more ...</a>
            </div>
              
        </div>
          

</div>
{% empty %}
        <h4 class="text-center">साठी कोणतेही परिणाम नाहीत '{{ keyword }}'</h4>
{% endfor %}

<div class="bg-dark fixed-bottom text-center" id="social-media-container">

  <div class="container">

    <a class="text-center fa fa-instagram" href="https://www.instagram.com/shaikhsajid1111" target="_blank" rel="noopener"> </a>
    <a class="text-center fa fa-twitter" href="https://www.twitter.com/shaikhsajid1111" target="_blank" rel="noopener"> </a>
    <a class="text-center fa fa-facebook" href="https://www.facebook.com/shaikhsajid1111" target="_blank" rel="noopener"> </a>
    <a class="text-center fa fa-github" href="https://www.github.com/shaikhsajid1111" target="_blank" rel="noopener"> </a>
  </div>

</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <script src="{% static 'js/design.js' %}"></script>

</body>
<footer>
  <div class="footer-copyright text-center py-2 bg-dark text-white fixed-bottom">© 2020 Copyright:
    <a href="https://www.instagram.com/shaikhsajid1111" class="text-white" target="_blank"> @Shaikh Sajid</a>
  </div>
</footer>

</html>